.banner {
  height: 60vh;
  width: 100%;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
}
.banner .black_shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  top: 0;
  left: 0;
}
.banner .page_name {
  z-index: 10000;
  color: white;
  text-transform: uppercase;
  font-size: 3em;
  margin-left: 15vw;
  font-weight: bold;
}