header {
  width: 90vw;
  padding: 1vh 5vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: var(--main-color);
  color: white;
  text-transform: uppercase;
}

header img.logo {
  height: 100%;
  width: 10vh;
  border-radius: 50%;
}

header .menu,
.signin-button {
  display: flex;
  font-weight: bold;
  justify-content: flex-end;
  gap: 60px;
  align-items: center;
}

header .menu {

  width: 60%;
}

/* блок с юзером */
.navUserInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  margin-left: 30px;
}

.navUserInfo .img-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.navUserInfo .img-container img {
  height: 100%;
}

.submenu {
  display: flex;
  gap: 5px;
  width: 200px;
  justify-content: flex-end;
}

.submenu-buttons {
  display: none;
  flex-direction: column;
  align-items: flex-end;

  position: absolute;
  right: 5vw;
  z-index: 1000;
  top: 7vh;
  padding: 2vh 0;

  width: 200px;
  background-color: var(--main-color);
}

.signin-button {
  display: flex;
}

.signin {
  display: flex;
}

.logout-button,
.schedule-button,
.submenu-buttons button {
  justify-content: flex-end;
  padding: 2vh 10px;
  outline: none;
  border: none;
  font-size: 1em;
  font-family: Gilroy;
  color: white;
  background-color: var(--main-color);
  height: 6vh;
  text-align: end;
  align-items: center;
}

.submenu:hover .submenu-buttons {
  display: flex;
}

.submenu-buttons button {
  transition: 0.5s;
  position: relative;
}

.submenu-buttons button::after {
  position: absolute;
  content: "";
  bottom: 2px;
  right: 10px;
  width: 90%;
  height: 1px;
  background: rgb(255, 255, 255);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}

.submenu-buttons button:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}


.submenu:hover,
.submenu-buttons a,
.submenu-buttons button {
  cursor: pointer;
}


.menu--item {
  color: white;
  font-size: 16px;
}
