.icons .phone,
.icons .chats {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 2vh;
  gap: 0.3em;
}

.icons .phone {
  left: 2vh;
}

.icons .chats {
  right: 2vh;
}

.icons .phone div img,
.icons .chats div img {
  height: 50px;
}

.icons .icon:hover img {
  transform: scale(1.1);
  transition: 0.3s;
}
