.wrapperChat {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.wrapperChat .posts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.wrapperChat .posts .post {
  display: flex;
  background-color: var(--light-color);
  padding: 15px;
  border-radius: 15px;
  gap: 10px;
}

.wrapperChat form textarea {
  width: 100%;
  border: 1px solid var(--main-color);
  outline: none;
  background-color: white;
  border-radius: 5px;
  height: 50px;

  padding: 10px;
  color: var(--main-color);
  font-family: Gilroy;
  font-size: 1em;
}

.wrapperChat form textarea::placeholder {
  color: var(--light-color);
  font-family: Gilroy;
  font-size: 1em;
}

.wrapperChat form input {
  border: 1px solid var(--main-color);
  outline: none;
  background-color: var(--light-color);
  border-radius: 5px;
  width: 120px;
  color: white;
  font-family: Gilroy;
  font-size: 0.8em;
  height: 40px;
}
