.homeWrapper main a {
  color: black;
}

.homeWrapper main {
  height: 88vh;
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.homeWrapper header {
  align-items: center;
  justify-content: flex-end;
}

.homeWrapper .logo {
  width: 50vw;
}

.homeWrapper .menu {
  width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  align-items: center;
  font-size: 1.5em;
}

.homeWrapper .menu .menu--item::after {
  background: rgb(0, 0, 0);
}

.homeWrapper .logo {
  height: 100%;
  background-color: rgba(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeWrapper .logo img {
  width: 50%;
  border-radius: 50%;
}

.vanta-canvas {
  position: fixed !important;
  width: 50vw !important;
}

