.wrapper.wrapperScheduleAdmin {
  display: flex;
  flex-direction: column;
  width: 80vw;
}

.wrapperScheduleAdmin .calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, calc(100% / 7));
  grid-template-rows: 25px repeat(5, calc(55vw / 7));
  border-left: 1px solid black;
  border-top: 1px solid black;
}

.wrapperScheduleAdmin .calendar-grid > div {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  overflow: auto;
}

.wrapperScheduleAdmin .day .info {
  color: black;
  padding: 10px;
  padding-right: 15px;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 3px;
  /* font-size: 0.7em; */
  display: flex;
  gap: 5px;
  align-items: center;
}

.wrapperScheduleAdmin .constant-rehearsals .info {
  background-color: rgba(161, 243, 37, 0.7);
}
.wrapperScheduleAdmin .additional-rehearsals .info {
  background-color: rgba(255, 194, 11, 0.7);
}
.wrapperScheduleAdmin .concerts .info {
  background-color: rgba(255, 0, 0, 0.7);
}

.wrapperScheduleAdmin .day .date {
  padding-left: 2px;
}

.wrapperScheduleAdmin .day > div:first-child {
  margin-bottom: 3px;
}

.wrapperScheduleAdmin .day > div:not(:first-child) {
  position: relative;
}

.wrapperScheduleAdmin .constant-rehearsals .info .group,
.wrapperScheduleAdmin .additional-rehearsals .info .group,
.wrapperScheduleAdmin .concerts .info .group {
  font-size: 0.8em;
}

.wrapperScheduleAdmin .constant-rehearsals .info .type,
.wrapperScheduleAdmin .additional-rehearsals .info .type,
.wrapperScheduleAdmin .concerts .info .type {
  font-size: 0.7em;
}

.wrapperScheduleAdmin .constant-rehearsals .info input,
.wrapperScheduleAdmin .additional-rehearsals .info input,
.wrapperScheduleAdmin .concerts .info input {
  width: 20px;
  height: 30px;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 0.3em;
  position: absolute;
  top: -3px;
  right: 2px;
}

.wrapperScheduleAdmin .constant-rehearsals .info .place,
.wrapperScheduleAdmin .additional-rehearsals .info .place,
.wrapperScheduleAdmin .concerts .info .place {
  /* display: none; */
  background-color: rgb(255, 255, 187);
  position: absolute;
  right: 0px;
  bottom: 50%;
  width: 60%;
  text-align: center;
  font-size: 0.8em;
  color: black;
  border-radius: 10px;
  border: 1px black solid;
  display: none;
}

.today {
  /* box-shadow: 0 0 15px gray; */
  background-color: rgb(173, 172, 172);
  color: white;
}

.wrapperScheduleAdmin .meaning .constant-rehearsals,
.wrapperScheduleAdmin .meaning .additional-rehearsals,
.wrapperScheduleAdmin .meaning .concerts {
  display: flex;
  gap: 0.5vw;
  /* width: 500px; */
}

.wrapperScheduleAdmin .meaning {
  display: flex;
  gap: 3vw;
}

.wrapperScheduleAdmin .meaning > div div:nth-child(2) {
  width: 50px;
  height: 30px;
  border-radius: 10px;
}

.wrapperScheduleAdmin .meaning .constant-rehearsals > div:nth-child(2) {
  background-color: rgba(161, 243, 37, 0.7);
}

.wrapperScheduleAdmin .meaning .additional-rehearsals > div:nth-child(2) {
  background-color: rgba(255, 194, 11, 0.7);
}

.wrapperScheduleAdmin .meaning .concerts > div:nth-child(2) {
  background-color: rgba(255, 0, 0, 0.7);
}

/* Добавление расписания */

.wrapperScheduleAdmin form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.wrapperScheduleAdmin input,
.wrapperScheduleAdmin select {
  width: 200px;
  border: 1px solid var(--main-color);
  outline: none;
  background-color: white;
  border-radius: 5px;
  height: 50px;

  padding: 0 10px;
  color: var(--main-color);
  font-family: Gilroy;
  font-size: 1em;
}

.wrapperScheduleAdmin select {
  width: 222px;
  /* width: auto; */
}

.wrapperScheduleAdmin input::placeholder {
  color: var(--light-color);
  font-family: Gilroy;
  font-size: 1em;
}

.wrapperScheduleAdmin button {
  width: 222px;
  height: 50px;
}

.wrapperScheduleAdmin .addSchedule {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.check-window {
  width: 40%;
  /* height: 200px; */
  padding: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 3px black solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

.no {
  position: absolute;
  top: 10px;
  right: 20px;
}

.yes {
  text-align: center;
  border: 2px red solid;
  color: red;
  width: 100px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
}