main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > * {
  margin: 1.5vh 0;
}
main .text,
main .img-container {
  width: 90%;
}
main .img-container {
  height: 40vh;
  overflow: hidden;
}
main .img-container img {
  width: 100%;
  margin-top: -100px;
}
