.wrapperAbout {
  display: flex;
  flex-wrap: wrap;
}

.wrapperAbout .about-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.wrapperAbout .about-item .img-container {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
}
 main .wrapperAbout .img-container img {
  height: 100%;
}
