footer {
  background-color: rgba(170, 0, 255, 0.308);
  width: 100vw;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding: 4vh 0;
  font-size: 0.7em;
}
footer .container {
  display: flex;
  justify-content: space-between;
  width: 70vw;
}

footer .contacts,
footer .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: white;
  font-weight: bold;
  text-align: left;

  gap: 10px;

  width: 50%;
}

footer .contacts {
  align-items: start;
}

footer .menu {
  align-items: end;
}
